/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/


/* Media Query excludes extra small devices and includes small and above */


@media (min-width: 48em) {
.main-class{
  margin-top:100px;
}
.feature1-img, .feature2-img, .feature3-img{
  max-width:100%;
}
 
#feature1, #feature2, #feature3{
  min-height: 500px;
  width:33.333333%;
  position: relative;
}
#feature1:hover, #feature2:hover, #feature3:hover {
  opacity:.7;
  width:33%;
  border: 10px solid wheat;
}



@media only screen and (max-width : 47.9375em) {
  .main-class{
     margin-top:150px;
  }
 #feature1, #feature2, #feature3{
  min-height: 300px;
  width:100%;
  position: relative;
}
#feature1:hover, #feature2:hover, #feature3:hover {
  opacity:.7;
  width:95%;
  border: 6px solid wheat;
  margin:auto;
}
}

/***************************
****************************
Modules
****************************
***************************/
/*Navigation Modules*/
#brand-id{
  display: inline;
  font-family: 'Rock Salt', cursive;
}
.navbar-brand{
  padding:0 0;
}
#brand-id img{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#nav-list li{
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
}
#navbar-search{
  font-family: 'Rock Salt', cursive;
  font-size:0.8em;
}
/*Logo Modules*/
.logo-primary{
    border: 1px solid #3d6631;
    border-radius: 50%;
    padding: 5px;
}
/*Header Modules*/
#navbar-div {
    background: #5a3166;
    padding: 20px;
}
/*Button Modules*/

/*Jumbotron Modules*/
.jumbotron{
  background-color: #3d6631;
}


/*Main Modules*/

.main {
    text-align: center;
    height: 70vh;
}
.main-primary {
    background-color: #666031;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-title {
    margin-top: 25vh;
    margin-bottom: 25px;
    font-size: 2.625em;
}
.main-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.500em;
    font-weight: normal;
}
#btn-main-hover{
  margin-top: 25px;
}
/*Background modules*/
.bg-image{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.bg-image > img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-height:100%;

}
.main-primary.bg-image > img {
  opacity: 0.45;
}
.main-body {
    position: relative;
}
#section-secondary, #section-feature{
  position: relative;
}
/*Feature modules*/
#feature1, #feature2, #feature3 {
  position:relative;
  background-size: cover;
  transition: border 1s, width 2s;
}


.feature-content{
  position: absolute;
  top:100px;
  left:100px;
 
}
.feature-content>h1{
  font-weight: 900;
  color: wheat;
}
/*Media Object Module*/

/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #5a3166;
}
.background-secondary {
  background:  #666031;
}
.background-tertiary {
  background: #3d6631;
}
.background-quaternary {
  background: #66313d;
}
.white{
  color: white !important;
}
.background-quinary {
    background: #e7e1d7;
}

/*.background-primary {
  background: #F7941E;
}
.background-secondary {
  background: #00AEEF;
}
.background-tertiary {
  background: #8DC63F;
}
.background-quaternary {
  background: #594a42;
}
*/