/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/


/* Media Query excludes extra small devices and includes small and above */


@media (min-width: 48em) {
.main-class{
  margin-top:100px;
}
#feature1{
  background: url("../images/foto3_600.jpg");
}
#feature2{
  background: url("../images/foto4_600.jpg");

}
#feature3{
  background: url("../images/foto5_600.jpg");
}

#feature1, #feature2, #feature3{
  min-height: 500px;
  width:33.33333%;
  position: relative;
}
#feature1:hover, #feature2:hover, #feature3:hover {
  opacity:.7;
  width:33%;
  border: 8px solid wheat;
  border-radius:10px;
}
.frame-primary{
  margin: 25px auto 40px auto;
  width: 300px;
  height: 300px;
  border: 1px solid #666031;
  border-radius: 50%;
  background: #3d6631;
  opacity: 0.8;
}
.frame-primary:hover{
  opacity: 0.4;
}

}



@media only screen and (max-width : 47.9375em) {
  .main-class{
     margin-top:150px;
  }
 #feature1, #feature2, #feature3{
  min-height: 300px;
  width:100%;
  position: relative;
}
#feature1:hover, #feature2:hover, #feature3:hover {
  opacity:.7;
  width:95%;
  border: 6px solid wheat;
  margin:auto;
}
#feature1{
  background: url("../images/foto3_400.jpg");
}
#feature2{
  background: url("../images/foto4_400.jpg");

}
#feature3{
  background: url("../images/foto5_400.jpg");
}
.media{
  margin-bottom: 20px;
  }
#media1{
  border-bottom: dotted 2px #666031;
}
.frame-primary{
  margin: auto;
  width: 180px;
  height: 180px;
  border: 1px solid #666031;
  border-radius: 50%;
}
#footer-span1,#footer-span2,#footer-span3 {

  padding-left:40px;
}
}


/***************************
****************************
Modules
****************************
***************************/
/*Navigation Modules*/
#brand-id{
  display: inline;
  font-family: 'Rock Salt', cursive;
}
.navbar-brand{
  padding:0 0;
}
#brand-id img{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#nav-list li{
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
}
#navbar-search{
  font-family: 'Rock Salt', cursive;
  font-size:0.8em;
}
/*Logo Modules*/
.logo-primary{
    border: 1px solid #3d6631;
    border-radius: 50%;
    padding: 5px;
}
/*Header Modules*/
#navbar-div {
    background: #5a3166;
    padding: 20px;
}
/*Button Modules*/

/*Jumbotron Modules*/
.jumbotron{
  background-color: #3d6631;
}


/*Main Modules*/

.main {
    text-align: center;
    height: 85vh;
}
.main-primary {
    background-color: #666031;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-title {
    margin-top: 25vh;
    margin-bottom: 25px;
    font-size: 2.625em;
}
.main-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.500em;
    font-weight: normal;
}
#btn-main-hover{
  margin-top: 25px;
}
.main-secondary {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.main-list{
  padding-top:20px;
  font-size:1.5em;
  list-style-type: none;
}
/*Background modules*/
.bg-image{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.bg-image > img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-height:100%;

}
.main-primary.bg-image > img, .main-secondary.bg-image > img {
  opacity: 0.45;
}
.main-body {
    position: relative;
}
#section-secondary, #section-feature{
  position: relative;
}
.main-secondary i{
  margin-right: 10px;
}
#btn-secondary{
  border: 2px #666031 solid;
  border-radius: 10px;
}
#btn-secondary:hover{
  font-size: 1.4em;
  padding: 25px;
  transition: padding 2s;
}
/*Feature modules*/
#feature1, #feature2, #feature3 {
  background-color: #666031;
  position:relative;
  background-size: cover;
  transition: border 1s, width 2s;
}


.feature-content{
  position: absolute;
  top:100px;
  left:100px;

}
.feature-content>h1{
  font-weight: 900;
  color: wheat;
}

/*Media Object Module*/
.media{
  padding:20px;
}
.media button:hover{
  font-size: 2rem;
}
.media i:hover{
  color: #66313d
}
/*Circle Module*/
.frame{
  overflow: hidden;
}
.frame{
  transition: opacity 2s;
}
/*footer module*/
#footer1{
  margin-bottom: 0px;
  padding: 20px 0 20px 0;
}
#footer-span1,#footer-span2,#footer-span3 {
  font-family: 'Rock Salt', cursive;
}
.footer-span{
  padding-top: 30px;
  vertical-align: middle;
}
#footer-span2, #footer-span3{
  color: white;
}
#footer-span2:hover, #footer-span3:hover{
  color:wheat;
  font-size: 110%;
  text-decoration: none !important;
}
#check-hidden{
  visibility: hidden;
}
/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #5a3166;
}
.background-secondary {
  background:  #666031;
}
.background-tertiary {
  background: #3d6631;
}
.background-quaternary {
  background: #66313d;
}
.white{
  color: white !important;
}
.background-quinary {
    background: #e7e1d7;
}

/*.background-primary {
  background: #F7941E;
}
.background-secondary {
  background: #00AEEF;
}
.background-tertiary {
  background: #8DC63F;
}
.background-quaternary {
  background: #594a42;
}*/
